@use "src/scss/config.scss" as *;
@use "sass:map";

$list-maxWidth: map.get($container-max-widths, "xl");

$layoutChange-breakpoint-xl: map.get($breakpoints, "xl");
$layoutChange-breakpoint-md: map.get($breakpoints, "md");
$layoutChange-breakpoint-sm: map.get($breakpoints, "sm");
.faq-list {
    height: fit-content;
    width: 100%;
    padding: 6rem $padding-minSides;

    position: relative;

    background-color: $black-90;
    background-image: url("/assets/images/backgrounds/tutorials-back-2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    display: flex;
    gap: 3rem;

    &__main {
        height: fit-content;
        width: 100%;
        max-width: $list-maxWidth;
        margin: 0 auto auto auto;

        display: flex;
        flex-direction: column;
        gap: 6rem;
    }
    @media screen and (max-width: $layoutChange-breakpoint-sm) {
        flex-direction: column;
    }
}
