@use 'src/scss/config.scss' as *;
@use "sass:map";

.addLP-section {

    background-color: $black-90;
    background-image: url('/src/assets/images/backgrounds/tutorials-back-2.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: $white;

    z-index: 0;

    font-size: 1.25rem;
    &__title {
        font-weight: 500;
    }
    &__motto {
        font-weight: 500;
    }

    &__widget {
        height: 35rem;
        width: 40rem;
        background-color: blanchedalmond;
    }
}